fastapi==0.72.0
GitPython==3.1.26
uvicorn==0.17.0
python-dotenv==0.19.2
opentelemetry-instrumentation-fastapi==0.27b0
opentelemetry-instrumentation-requests==0.27b0
opentelemetry-instrumentation-logging==0.27b0
opentelemetry-propagator-b3==1.8.0
opentelemetry-exporter-otlp==1.8.0

